<div class="container text-center col-6">
    <div class="row justify-content-center text-primary-emphasis">
        <form [formGroup]="formGroupHistorico">
            <div class="text-center mt-5">
                <div class="mb-5">
                    <h2> Histórico de Resultados</h2>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Favoráveis</th>
                            <th scope="col">Possíveis</th>
                            <th scope="col">Resultado</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let historico of Historico">
                            <th scope="row">{{historico.id}}</th>
                            <td>{{historico.favoraveis}}</td>
                            <td>{{historico.possiveis}}</td>
                            <td>{{historico.resultado}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>